@font-face {
  font-family: 'roboto';
  src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'playfair';
  src: url(fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
  font-family: 'playfair';
  font-weight: lighter;
}

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header,
main,
.footerContent {
  max-width: 850px;
  margin: 30px 40px;
}

#headerBackground {
  position: absolute;
  background-color: rgb(14, 153, 185);
  width: 100vw;
  height: 450px;
  z-index: -1;
  transform-origin: top left;
  transform: skewY(-15deg);
}

header {
  display: flex;
  align-items: center;
}

.headerPic {
  height: 300px;
  position: relative;
  box-shadow: rgb(112, 112, 112) -2px 2px 10px;
}

.headerPic img {
  height: 100%;
}

#photoName {
  position: absolute;
  bottom: 1px;
  left: 10px;
  font-size: 80px;
  margin: 0px;
  color: white;
  text-shadow: rgb(74, 74, 74) -2px 2px 5px;
}

.aboutMe {
  background-color: white;
  padding: 15px 30px 15px 15px;
  box-shadow: rgb(141, 141, 141) 2px 2px 10px;
}

.buttonLinks {
  display: flex;
  gap: 18px;
  justify-self: flex-end;
  transform: translatex(10px);
}

button {
  border: none;
  background: none;
}

.buttonLinks button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.buttonLinks img {
  width: 20px;
}

.aboutMe p {
  color: rgb(87, 87, 87);
  font: 0.9rem 'roboto', sans-serif;
  transform: translateY(-10px);
}

main {
  position: relative;
}

main h1 {
  left: 0px;
  margin-bottom: 10px;
  width: 130px;
  transition: transform 1s;
}

.projectContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 30px;
  justify-content: space-evenly;
}

.project {
  width: 260px;
  height: 300px;
  display: flex;
  flex-direction: column;
  box-shadow: rgb(141, 141, 141) 2px 2px 10px;
  transition-property: transform box-shadow;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  will-change: transform box-shadow;
  background-color: rgb(212, 212, 212);
}

.project:hover {
  transform: translate(-4px, -4px);
  box-shadow: rgb(141, 141, 141) 8px 8px 15px;
}

.projectScreenshot {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  background-color: rgb(144, 106, 34);
  text-align: center;
  font-size: 1.8rem;
  color: white;
  padding: 50px;
}

.projectInfo {
  position: relative;
  padding: 0px 20px;
  overflow-y: scroll;
}

.projectInfo h3 {
  margin: 6px 0px;
}

.projectInfo p {
  font-family: 'roboto';
  font-size: 0.9rem;
}

.projectLinks {
  position: absolute;
  transform: translate(155px, -28px);
  display: flex;
  gap: 10px;
}

.projectLinks img {
  width: 20px;
}

.projectLinks button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#project1 .projectScreenshot {
  background-image: url(screenshots/Etch-a-sketch.png);
  background-size: cover;
  background-position: center;
}
#project2 .projectScreenshot {
  background-image: url(screenshots/tic-tac-toe.png);
  background-size: cover;
  background-position: center;
}

footer {
  width: 100vw;
  background-color: rgb(14, 153, 185);
  display: flex;
  justify-content: center;
  margin-top: 60px;
  padding: 15px 0px;
  color: rgb(231, 229, 229);
}

.footerContent {
  display: flex;
  gap: 25px;
}

.footerPic {
  height: 300px;
}

.footerPic img {
  height: 100%;
}

.footerInfo p img {
  width: 20px;
  transform: translateY(5px);
  filter: invert();
}

.footerInfo h1 {
  font-size: 2rem;
  margin-top: 0px;
}

.footerInfo p {
  font-family: 'roboto';
}

#footerButtons {
  justify-self: flex-start;
  transform: translate(-7px, 5px);
}

@media (max-width: 1000px) {
  header {
    margin-bottom: 100px;
  }
  .headerPic {
    transform: translateX(70px);
    height: 275px;
    z-index: 1;
  }

  #photoName {
    font-size: 50px;
    transform: translate(290px, -190px);
  }

  .aboutMe {
    transform: translate(-75px, 120px);
    width: 300px;
    height: 310px;
  }

  .aboutMe h2 {
    transform: translateX(150px);
  }

  .aboutMe p {
    font-size: 0.8rem;
    margin-bottom: -10px;
  }

  #block {
    float: left;
    width: 140px;
    height: 100px;
  }

  main h1 {
    transform: translateX(100px);
  }

  @media (max-width: 620px) {
    header {
      flex-direction: column;
      margin-bottom: 70px;
    }

    .headerPic {
      height: 450px;
      transform: translate(0);
    }

    #photoName {
      transform: translate(20px, -10px);
      font-size: 40px;
    }

    .aboutMe {
      transform: translate(0);
      box-shadow: none;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .aboutMe h2 {
      transform: translate(0);
    }

    .aboutMe p {
      font-size: 1rem;
      line-height: 1.4rem;
      margin: -5px 0px 15px;
    }

    #block {
      width: 0px;
      height: 0px;
    }

    main h1 {
      transform: translate(0);
      margin-left: auto;
      margin-right: auto;
    }

    footer {
      padding-bottom: 0px;
    }

    .footerContent {
      flex-direction: column;
      align-items: center;
      margin: 0px;
    }

    .footerInfo {
      padding: 0px 50px;
      display: flex;
      flex-direction: column;
    }

    .footerInfo h1 {
      align-self: center;
    }

    .footerInfo p {
      margin: 8px 15px;
    }

    #footerButtons {
      align-self: center;
      margin-top: 15px;
    }

    .footerPic {
      width: 100vw;
      height: auto;
    }

    .footerPic img {
      width: 100%;
    }
  }
}
